@model CuaHangDoDien.Models.DBConection.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tên sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            <label>Số lượng</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            <label>Giá bán</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            <label>Nhãn hiệu sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanHieuSP)
        </dd>

        <dt>
            <label>Mẫu sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSP)
        </dd>

        <dt>
            <label>Mô tả sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSP)
        </dd>

        <dt>
            <label>Ảnh</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            <label>Tên danh mục</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucSP.TenDanhMuc)
        </dd>

        <dt>
            <label>Nội dung khuyến mãi</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai.NoiDungKM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
