<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Adminstration", "Index", "HomePage", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <button type="button">@Html.ActionLink("Đăng nhập", "Login", "HomePage")</button>
                    <button type="button">@Html.ActionLink("Đăng xuất", "Logout", "HomePage")</button>
                    @*<li>@Html.ActionLink("HomePage", "Index", "HomePage")</li>*@
                    <li>@Html.ActionLink("Quản lý tài khoản caaaaaa", "Index", "Accounts")</li>
                    <li>@Html.ActionLink("Quản lý sản phẩm", "Index", "SanPhams")</li>
                    <li>@Html.ActionLink("Quản lý danh mục sản phẩm", "Index", "DanhMucSPs")</li>
                    <li>@Html.ActionLink("Quản lý chương trình khuyến mãi", "Index", "KhuyenMais")</li>
                    <li>@Html.ActionLink("Quản lý hóa đơn", "Index", "HoaDons")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
